.custom-display{
    display:flex;
}
.half-width{
    width: 50%;
   /* display:flex; */
}
.add-order{
    margin: 5px 5px;
    padding: 10px;
    /* height: 10vh; */
}
.add-order form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-order form input, textarea{
    width: 60%;
    /* height: 10vh; */
    margin-bottom: 10px;
}